<html lang="uk-UA">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Серце Героя</title>
    {% load static %}
</head>
<body>
    {% csrf_token %}
    <div id="highbar">
        <img src = "../static/label.png">
        <ul>
            <li><a href="{% url 'main' %}">Титульна сторінка</a></li>
            <li><a href="{% url 'about' %}">Про фонд</a></li>
            <li><a href="{% url 'projects' %}">Проєкти</a></li> 
            <li><a href="{% url 'report' %}">Звіти</a></li>
        </ul>
        <button onclick="window.location.href='{% url 'support' %}'">Підтримати</button>
    </div>
    {%block content%}
    <div id = "searchbar_field">
        <input id="searchbar" type="text" placeholder="Search..">
        <button id="search">Пошук</button>
    </div>
    <div id="news_space">
        {% for article in news %}
            <div class="news">
                <div class="news_img">
                    <img src="{{ MEDIA_URL }}{{ article.img.url }}" alt="Image">
                </div>
                <div class = "infoblock">
                    <a class="title" href="{% url 'artcl' article.id %}">{{article.title}}</a>
                    <p class="text">{{article.text}}</p>
                    <p class="author">{{article.author}}</p>
                    <p class="time">{{article.time}}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div> 
    {% endblock %}
    <div id="lowbar">
    </div>
    <link rel="stylesheet" href="../static/news.css">
    <script src="{% static 'scripts/search_news.js' %}"></script>
</body>
</html>