<html lang="uk-UA">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Серце Героя</title>
    {% load static %}
</head>
<body>
    {% csrf_token %}
    <div id="highbar">
        <img src = "../static/label.png">
        <ul>
            <li><a href="{% url 'main' %}">Титульна сторінка</a></li>
            <li><a href="{% url 'projects' %}">Проєкти</a></li>
            <li><a href="{% url 'news' %}">Новини</a></li>
            <li><a href="{% url 'report' %}">Звіти</a></li>
        </ul>
        <button onclick="window.location.href='{% url 'support' %}'">Підтримати</button>
    </div>
    <div class = "infoblock" id="Fond">
        <p class = "title">
            Про нас
        </p>
        <hr>
        <p class = "textblock">
            Серце Героя - це благодійний фонд, який відданий підтримці та допомозі
            нашим героям та їх сім'ям. Заснований на принципах милосердя та відданості,
            фонд прагне забезпечити різнобічну підтримку тим, хто постраждав внаслідок
            війни. Ми стоїмо разом зі звичайними героями, які віддали своє серце за
            мир і спокій. Наша команда складається з професіоналів, волонтерів та
            небайдужих людей, які об'єдналися для досягнення спільної мети - створення
            умов для відновлення та соціальної інтеграції постраждалих.
            Через об'єднання зламаних сердець у доброчинності ми створюємо спільноту,
            де кожен може знайти підтримку та знайомство з надією на краще майбутнє.
        </div>
    </div>
    <div class = "infoblock" id="Missions">
        <p class = "title">
            Наша мета
        </p>
        <hr>
        <p class = "textblock">
            Основна мета фонду Серце Героя - надати всебічну підтримку військовим та їхнім родинам, 
            які постраждали внаслідок війни. Ми прагнемо забезпечити якісну медичну допомогу, 
            включаючи лікування, реабілітацію та психологічну підтримку для тих, хто отримав поранення.
            Надання фінансової підтримки, житла та необхідних ресурсів для ветеранів та їх сімей 
            допомагає їм подолати складні життєві обставини. Організація програм, що сприяють 
            інтеграції ветеранів у суспільство, включаючи професійне навчання, консультації та 
            підтримку у працевлаштуванні, є важливою складовою нашої діяльності. Проведення тренінгів 
            та консультацій, спрямованих на поліпшення психологічного здоров'я та подолання 
            посттравматичних розладів, також є нашим пріоритетом. Ми створюємо можливості для 
            навчання та розвитку дітей та молоді з сімей постраждалих, щоб забезпечити їм гідне майбутнє.
        </div>
    </div>
    <div class = "infoblock" id="Future">
        <p class = "title">
            Майбутні плани
        </p>
        <hr>
        <p class = "textblock">
            Фонд Серце Героя має амбітні плани щодо розширення своєї діяльності та поглиблення 
            підтримки постраждалих. Наші майбутні плани включають відкриття нових регіональних 
            центрів для надання допомоги ветеранам та їх родинам у різних куточках країни. Ми 
            плануємо впровадження сучасних технологій для реабілітації та соціальної інтеграції, 
            включаючи дистанційне навчання та онлайн-консультації. Розвиток партнерських відносин 
            з міжнародними організаціями для обміну досвідом та залучення додаткових ресурсів є 
            важливим напрямком нашої роботи. Ми запускаємо нові освітні програми і стипендії для 
            дітей та молоді, що дозволить їм отримати якісну освіту та побудувати успішну кар'єру. 
            Проведення інформаційних кампаній для підвищення обізнаності суспільства про проблеми 
            ветеранів та їх родин, залучення більшої кількості людей до благодійної діяльності є 
            ключовими елементами нашої стратегії. Фонд Серце Героя прагне створити суспільство, 
            де кожен герой отримує належну підтримку і можливість для повноцінного життя. 
            Ми віримо, що разом зможемо досягти цієї мети і зробити світ кращим місцем для всіх.
        </div>
    </div>
    <div id="lowbar">
    </div>
    <link rel="stylesheet" type="text/css" href="../static/about.css">
</body>
</html>